
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 44% 94%;
    --foreground: 234 65% 10%;
    --card: 0 0% 100%;
    --card-foreground: 234 65% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 234 65% 10%;
    --primary: 234 65% 30%;
    --primary-foreground: 210 40% 98%;
    --secondary: 231 44% 90%;
    --secondary-foreground: 234 65% 30%;
    --muted: 231 44% 85%;
    --muted-foreground: 234 20% 45%;
    --accent: 14 100% 57%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 231 44% 85%;
    --input: 231 44% 85%;
    --ring: 234 65% 30%;
    --chart-1: 234 65% 30%;
    --chart-2: 14 100% 57%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
    --sidebar-background: 234 65% 25%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 14 100% 57%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 234 65% 35%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 234 65% 35%;
    --sidebar-ring: 234 65% 45%;
  }
  .dark {
    --background: 234 65% 5%;
    --foreground: 210 40% 98%;
    --card: 234 65% 8%;
    --card-foreground: 210 40% 98%;
    --popover: 234 65% 8%;
    --popover-foreground: 210 40% 98%;
    --primary: 234 65% 45%;
    --primary-foreground: 210 40% 98%;
    --secondary: 234 65% 15%;
    --secondary-foreground: 210 40% 98%;
    --muted: 234 65% 15%;
    --muted-foreground: 234 20% 65%;
    --accent: 14 100% 57%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 234 65% 15%;
    --input: 234 65% 15%;
    --ring: 234 65% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
